<config>
  <tsds user="foo" password="bar" url="https://netsage-archive.grnoc.iu.edu/tsds/" />
  <elasticsearch host="elastic.foo.com" port="9200" />
  <aggregate>
    <key>src_organization</key>
    <key>dst_organization</key>
    <key>src_asn</key>
    <key>dst_asn</key>
    <key>protocol</key>
    <key>src_country_name</key>
    <key>dst_country_name</key>
    
    <!-- example of doing pairs, comma separated fields -->
    <key>src_country_name,dst_country_name</key>

  </aggregate>
</config>

